<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <form action="#" th:action="@{/admin/editleaveentitlements}" th:object="${entitlement}"
                                                                       method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="Role" class="col-form-label">Role</label> 
                                <input type="text" th:field="*{role}" class="form-control"
                                            id="role" placeholder="Role" />
                            </div>                        
                            
                            <div class="form-group col-md-8">
                                <label for="leave_count" class="col-form-label">Max Days:</label> 
                                <input type="text" th:field="*{leave_count}" class="form-control"
                                            id="leave_count" placeholder="Entitled Days" />
                            </div>                        					   						
    																					
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>
 
                            <input type="hidden" id="id" th:field="*{id}">
     
                        </div>
                    </form>
</body>
</html>