<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
<meta charset="ISO-8859-1">
<title>Leave Entitlement</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/admin.css}" />
</head>
 
<body>
 
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
 	<div th:switch="${leaveentitle}" class="container my-5">
            
            <div class="col-md-10">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Annual Leave</th>
                                <th>Edit</th>

                            </tr>
                        </thead>
                        <tbody>                           
                            <tr th:each="l : ${leaveentitle}">
                                <td th:text="${l.role}"></td>
                                <td th:text="${l.type}"></td>
                                <td th:text="${l.leave_count}"></td>                          
                                <td>
                                    <a th:href="@{/admin/editleaveentitlements/{id}(id=${l.id})}"
                                             > Edit
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
 
            </div>
        </div>
        </div>
    </div>
    </div>
</body>
 
</html>
