<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
<meta charset="ISO-8859-1">
<title>Admin Panel</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/admin.css}" />
</head>
 
<body>
                 <h1 class="tableheading">Employees</h1>
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${employees}">       
            <p>
                <button href="/admin/edit" class="button1">
                Add Employee</button>
            </p>

            <div class="col-md-10">
                <h2 th:case="null"> No record found !!</h2>
                <div th:case="*">
                    <table class="admin-list">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Date Hired</th>
                                <th>Manager</th>
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>                           
                            <tr th:each="e, istat : ${employees}">
                                <td th:text="${e.role}"></td>
                                <td th:text="${e.name}"></td>
                                <td th:text="${e.email}"></td>  
                                <td th:text="${e.contact_no}"></td> 
                                <td th:text="${#dates.format(e.doh, 'dd-MMM-yyyy')}"></td> 
                                <td th:text="${managers[__${istat.index}__]}"></td>                          
                                <td>
                                    <a th:href="@{/admin/edit/{id}(id=${e.id})}"
                                             > Edit
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/admin/delete/{id}(id=${e.id})}"
                                              class="btn btn-primary">Delete
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
 
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
 
</html>
