BODY {
	font-family: Cambria,Georgia,serif;
	font-size : 14pt;
	
}

div {
	padding: 10px 5px;      
	text-align: center;
}

A {
	text-decoration: underline;
	color: #6600CC;
}

A:Hover {
	text-decoration: underline;
	color: #CC0066;
}

h1{
	font-family: Cambria,Georgia,serif;
	color: blue;
	align:center;
	}
h2{
	font-family: Cambria,Georgia,serif;
  color:blue;
  align:center;
}
h3{
	font-family: Cambria,Georgia,serif;
  color:blue;
  align:center;
}
h4{
	font-family: Cambria,Georgia,serif;
  color:blue;
  align:center;
}

button {
	border : thin;
	border-style : none none none none;
	background : transparent;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
	white-space : normal;
	width : auto;
	color: #355681;
}

frame	{
	margin : 0px 0px 0px 0px;
	border : none;
	border-width : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
}

ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white; 
    padding: 10.5px 11px;
    background-color: #002b55;
    display:block;
}
 
ul li a:visited {
    color: white;
}
 
 ul li a:hover, ul li  {
    color: white;
    background-color: #675FD3      ;
}

table {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 200px;
   width: 25%;
  border: 15px solid black;
  padding: 100px;
 
}


th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
td
{
	color: #669;
	padding: 9px 8px 0px 8px;
	
}
tbody tr:hover td
{
	color: #009;
}

.bclass button {
    background-color: #002b55; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.employee_div{
    display: flex;
    justify-content: space-between;	
}
.footer{
	  position: fixed;
  	  bottom: 0;
}
.emp_btn{
	  background-color: #008CBA;
	  border: none;
	  color: white;
	  padding: 8px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
}



