<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Employees</title>
      <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css" data-th-href="@{/css/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 
<body>
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${employees}" class="container my-5">
            <p class="my-5">
                <a href="/admin/edit" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Add Employee </i></a>
            </p>
            <div class="col-md-10">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Date Hired</th>
                                <th>Manager</th>
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
<!--                             <tr th:each="employee : ${employees}"> -->
<!--                                 <td th:text="${employee.name}"></td> -->
<!--                                 <td th:text="${employee.username}"></td> -->
<!--                                 <td th:text="${employee.email}"></td>                                -->
<!--                                 <td> -->
<!--                                     <a th:href="@{/admin/edit/{id}(id=${employee.id})}" -->
<!--                                              class="btn btn-primary"> -->
<!--                                         <i class="fas fa-user-edit ml-2"></i> -->
<!--                                     </a> -->
<!--                                 </td> -->
<!--                                 <td> -->
<!--                                     <a th:href="@{/delete/{id}(id=${employee.id})}" -->
<!--                                               class="btn btn-primary"> -->
<!--                                         <i class="fas fa-user-times ml-2"></i> -->
<!--                                     </a> -->
<!--                                 </td> -->
<!--                             </tr> -->

                            <tr th:each="e, istat : ${employees}">
                                <td th:text="${e.role}"></td>
                                <td th:text="${e.name}"></td>
                                <td th:text="${e.email}"></td>  
                                <td th:text="${e.contact_no}"></td> 
                                <td th:text="${#dates.format(e.doh, 'dd-MMM-yyyy')}"></td> 
                                <td th:text="${managers[__${istat.index}__]}"></td>   
                        
                                <td>
                                    <a th:href="@{/admin/edit/{id}(id=${e.id})}"
                                             > Edit
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/admin/delete/{id}(id=${e.id})}"
                                              class="btn btn-primary">Delete
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
 
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
 
</html>
