<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Leave Management System</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
<div class="btn_login">
<a href="employeelogin.html"
				 th:href="@{/employee/loginpage}">Employee Login</a>
<a href="adminlogin.html"
				 th:href="@{/admin/login}">Admin Login</a>	
	</div>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>