<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all" href="../../css/style.css" data-th-href="@{/css/style.css}" />
</head>
<body>
<div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${leavetype}" class="container my-5">
            <p class="my-5">
                <a href="/admin/createnewleavetype" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Add LeaveType </i></a>
            </p>
            <div class="col-md-10">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Max No. Of Days</th>                 
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                     
                            <tr th:each="l : ${leavetypes}">
                                <td th:text="${l.type}"></td>
                                <td th:text="${l.MaxNoOfDays}"></td>                               
                                <td>
                                    <a th:href="@{/admin/editLeaveType/{id}(id=${l.id})}"
                                             > Edit
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/admin/deleteLeaveType/{id}(id=${l.id})}"
                                              class="btn btn-primary">Delete
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
 
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>