<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Department Listing</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/employee-general.html :: header"> </header>
	<!-- Add Hyperlink -->
	<a href="" th:href="@{/employee/applyLeave/}+${empid}">Add New Leave Application</a>
	
	<h2 th:if="${not #lists.isEmpty(leaveApplications)}">Leave applications List</h2>
	<table th:if="${not #lists.isEmpty(leaveApplications)}" >
		<tr >
			<th >Start Date</th>
			<th >End Date</th>
			<th >Leave Type</th>
			<th >Status</th>
		</tr>
		<tr th:each="leaveApplication:${leaveApplications}" class="table-row">
			<td th:text="${#dates.format(leaveApplication.start_date, 'dd-MM-yyyy')}">Start Date</td>
			<td th:text="${#dates.format(leaveApplication.end_date, 'dd-MM-yyyy')}">End Date</td>
			<td th:text=${leaveApplication.leaveentitlement.type.type}>Type</td>
			<td th:text=${leaveApplication.status}>Status</td>

				<td><a href="Detail.html"
						th:href="@{/employee/leave_form/view/}+${leaveApplication.id}">View Details</a></td>
		</tr>
	</table>
    <br/>
	<div th:replace="fragments/general.html :: footer"></div>
</body>

</html>