<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Leave Application System</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<div th:replace="fragments/general.html :: menu"></div>
	<h1>Error Page</h1>
	<h2> Leave Application Dates</h2>
	<p class="error">
		There is overlap of dates in the applied leaves. Please check your leave history!
	</p>

	<a href="" th:href="@{/employee/applyLeave/{empid}}">Re-apply Leave</a>
	
	
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>