<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
	<div th:fragment="header" id="header">
		<table>
			<tr>
				<!--  <td width="15%"><img th:src="@{/image/leave.jpg}" /></td>-->
				<td><h1>Leave Management System</h1></td>
			</tr>
		</table>

	</div>
	<div th:fragment="menu" id="menu">
		<table>
			<tr>
				<td><input type="button" value="Manage Leave"
					onclick="window.location.href='/leave-form/list'; return false"
					class="button" /> <input type="button" value="Manage Facilities"
					onclick="window.location.href='/leave-form/list'; return false"
					class="button" /> <input type="button" value="Manage Booking"
					onclick="window.location.href='/leave-form/list'; return false"
					class="button" /></td>
			</tr>
		</table>
	</div>
	<footer th:fragment="footer">
		<a href="Home" th:href="@{/}">Back to Home</a>
		<br/>
		 <small>Now is: <b
			th:text="${execInfo.now.time}"></b></small> <br /> <small>(c)Leave Management
			System , ISS, NUS 2020</small>
	</footer>
</body>
</html>